/*

Ramon Stanly Rodriguez
IST-239 Final Project
11/28/23

*/



@media only screen and (max-width: 421px){

    /*header=============================================================================*/

    /*profile pic*/
    #profilepic {
        margin-top: 25px;
    }


    /*info container*/
    .contact-info {
        margin-left: 45px;
    }

    /*info name*/
    h1#fullname {
        font-size: 2.7em;
    }

    /*Top content========================================================================*/

    section#topcontent {
        width: 100%;
        
    }

    section#topcontent > h1 {
        font-size: 1.1em;
        margin: auto;
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
        
        
    }

    section#topcontent > p {
        
        margin: auto;
        text-align: justify;
        width: 92%;
        letter-spacing: normal;
        
    }

    /*Folders=============================================================================*/

    section#bigbox  p.folders {
        margin-left: 63px;
    }

    /*overlay=============================================================================*/

    /*middlebox*/
    section#middlebox {
        width: 95%;
    }

    /*tittle*/
    #middlebox > h3 {
        padding-left: 10px;
        font-size: 1.0em;
    }

    #middlebox > p {
        padding-left: 10px;
        width: 90%;
        text-align: justify;
    }

    /*url*/
    #middlebox > a {
        padding-left: 10px;
    }


    /*footer..................................................*/
footer {
    flex-direction: column;
    text-align: center;
}

footer p {
    margin-left: 10px;
}
   
}

@media only screen and (min-width: 422px){

    /*header=============================================================================*/

    /*profile pic*/
    #profilepic {
        margin-top: 25px;
    }


    /*info container*/
    .contact-info {
        margin-left: 45px;
    }

    /*info name*/
    h1#fullname {
        font-size: 2.7em;
    }


    /*font-size*/
    .contact-info > p#about, p#email, p#phone {
        font-size: 1.0em;
    }


    /*Top content========================================================================*/

    section#topcontent {
        width: 100%;
        
    }

    section#topcontent > h1 {
        font-size: 1.1em;
        margin: auto;
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
        
        
    }

    section#topcontent > p {
        
        margin: auto;
        text-align: justify;
        width: 92%;
        letter-spacing: normal;
        
    }


     /*Folders=============================================================================*/

     section#bigbox  p.folders {
        margin-left: 70px;
    }


     /*overlay=============================================================================*/

    /*middlebox*/
    section#middlebox {
        width: 95%;
    }

     /*tittle*/
     #middlebox > h3 {
        padding-left: 10px;
        font-size: 1.0em;
    }


    /*paragraph*/
    #middlebox > p {
        padding-left: 10px;
        width: 90%;
        text-align: justify;
    }


    /*url*/
    #middlebox > a {
        padding-left: 10px;
    }

     /*footer..................................................*/
footer {
    flex-direction: column;
    text-align: center;
}

footer p {
    margin-left: 10px;
}


}

@media only screen and (min-width: 515px){

    /*header=============================================================================*/

     /*info name*/
     h1#fullname {
        font-size: 2.5em;
    }


     /*overlay=============================================================================*/

    /*middlebox*/
    section#middlebox {
        width: 95%;
    }

    
}


@media only screen and (min-width: 650px){

   /*header=============================================================================*/

    /*info container*/
    .contact-info {
        margin-left: 110px;
    }


     /*overlay=============================================================================*/

    /*middlebox*/
    section#middlebox {
        width: 95%;
    }

}



@media only screen and (min-width: 768px){
    /*header=============================================================================*/

     /*info container*/
     .contact-info {
        margin-left: 165px;
    }


     /*Top content========================================================================*/


     section#topcontent > h1 {
        text-align: left;
        font-size: 1.5em;
        margin-left: 31px;
     }

     /*paragraph*/
    section#topcontent > p {
        font-size: 1.2em;
        
    }

    /*Folders=============================================================================*/

    section#bigbox{
        width: 90%;
    }

    section#bigbox  p.folders {
        margin-left: 70px;
    }

     /*overlay=============================================================================*/

    /*middlebox*/
    section#middlebox {
        width: 80%;
    }

     /*tittle*/
     #middlebox > h3 {
        padding-left: 10px;
        font-size: 1.4em;
    }


         /*footer..................................................*/
footer {
    flex-direction: row;
    text-align: center;
}

footer p {
    margin-left: 10px;
}
    
}


@media only screen and (min-width: 820px){
    /*header=============================================================================*/

    /*info container*/
    .contact-info {
        margin-left: 160px;
    }

     /*font-size*/
     .contact-info > p#about, p#email, p#phone {
        font-size: 1.2em;
    }

    /*Top content========================================================================*/

    section#topcontent > h1 {
        margin-left: 34px;
    }


     /*Folders=============================================================================*/

     section#bigbox  p.folders {
        margin-left: 90px;
     }



}



@media only screen and (min-width: 1024px){

    /*header=============================================================================*/

     /*profile pic*/
     #profilepic {
        margin-top: 45px;
        height: 170px;
        width: 170px;
    }

    /*info container*/
    .contact-info {
        margin-left: 75px;
    }


    /*info name*/
    h1#fullname {
        font-size: 2.9em;
    }


     /*font-size*/
     .contact-info > p#about, p#email, p#phone {
        font-size: 1.3em;
    }

     /*Top content========================================================================*/

     section#topcontent > h1 {
        margin-left: 43px;
    }


    /*Folders=============================================================================*/

    section#bigbox  p.folders {
        margin-left: 145px;
     }


     /*overlay=============================================================================*/

    /*middlebox*/
    section#middlebox {
        height: 50%;
    }


}

@media only screen and (min-width: 1280px){

     /*Folders=============================================================================*/

     section#bigbox  p.folders {
        margin-left: 218px;
     }


     

}

@media only screen and (min-width: 1366px){


     /*Top content========================================================================*/
    section#topcontent > h1 {
        margin-left: 55px;
    }


    /*Folders=============================================================================*/

    section#bigbox  p.folders {
        margin-left: 240px;
     }


     /*overlay=============================================================================*/

    /*middlebox*/
    section#middlebox {
        height: 60%;
    }
}


@media only screen and (min-width: 1542px){

    /*Top content========================================================================*/

    section#topcontent > h1 {
       margin-left: 150px;
   }

    section#topcontent > p {
       width: 55%;
       text-align: left;
       margin-left: 150px;
    }


    /*folders============================================================================*/

    section#bigbox  p.folders {
        margin-left: 150px;

        margin-right: 0px;
        
     }


      /*overlay=============================================================================*/

       /*middlebox*/
    section#middlebox {
        height: 70%;
    }
  

}






    